<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>
					 Powered By
				</h4>
				<p>
					<a href="http://www.nodejs.org/" target="_blank">NodeJs</a><br>
					<a href="https://www.mongodb.org/" target="_blank">Mongodb</a><br>
				</p>
			</div>
			<div class="col-md-4">
				<h4>程序猿</h4>
				<p>Copyright © 2014</p>
			</div>
			<div class="col-md-4">
				<h4>关于我们</h4>
				<p>
					<i class="fa fa-smile-o"></i> 我们是一群年轻,自嘲,可爱的程序猿/媛
				</p>
				<p>
				</p>
			</div>
		</div>
	</div>
</div>