<!DOCTYPE html>
<html>
<head>
<title>Microbingbing博客</title>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/web.css' />
<link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />

<script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/angular.js"></script>
   
</head>
<body class="ng-scope">

	<% include head %> 
	<% include regist %> 
	<% include foot %> 
</body>
<script type="text/javascript" src="/javascripts/count.js"> </script>
</html>
