<!DOCTYPE html>
<html>
    <head>
        <title>About | Bootstrap 3.x Admin Theme</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link rel="stylesheet" media="screen" href="/stylesheets/bootstrap.min.css">
        <link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" media="screen" href="/stylesheets/bootstrap-theme.min.css">

        <!-- Bootstrap Admin Theme -->
        <link rel="stylesheet" media="screen" href="/stylesheets/bootstrap-admin-theme.css">
        <link rel="stylesheet" media="screen" href="/stylesheets/bootstrap-admin-theme-change-size.css">
 		<script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap-paginator.js"></script>
        <script type="text/javascript" src="/javascripts/angular.js"></script>
		<script type="text/javascript" src="/javascripts/route.js"></script>
        <script type="text/javascript" src="/javascripts/twitter-bootstrap-hover-dropdown.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap-admin-theme-change-size.js"></script>
        <script type="text/javascript" src="/javascripts/common.js"></script>
        <link rel='stylesheet' href='/kindeditor-4.1.7/themes/default/default.css' />
        <script type="text/javascript" src="/kindeditor-4.1.7/kindeditor-min.js"></script>
        <script type="text/javascript" src="/kindeditor-4.1.7/lang/zh_CN.js"></script>
        <!-- Custom styles -->
        <style type="text/css">
            .bs-docs-masthead{
                background-color: #6f5499;
                background-image: linear-gradient(to bottom, #563d7c 0px, #6f5499 100%);
                background-repeat: repeat-x;
            }
            .bs-docs-masthead{
                padding: 0;
            }
            .bs-docs-masthead h1{
                color: #fff;
                font-size: 40px;
                margin: 0;
                padding: 34px 0;
                text-align: center;
            }
            .bs-docs-masthead a:hover{
                text-decoration: none;
            }
            .meritoo-logo a{
                background-color: #fff;
                border: 1px solid rgba(66, 139, 202, 0.4);
                display: block;
                font-family: Ubuntu;
                padding: 22px 0;
                text-align: center;
            }
            .meritoo-logo a,
            .meritoo-logo a:hover,
            .meritoo-logo a:focus{
                text-decoration: none;
            }
            .meritoo-logo a img{
                display: block;
                margin: 0 auto;
            }
            .meritoo-logo a span{
                color: #4e4b4b;
                font-size: 18px;
            }
            .row-urls{
                margin-top: 4px;
            }
            .row-urls .col-md-6{
                text-align: center;
            }
            .row-urls .col-md-6 a{
                font-size: 14px;
            }
        </style>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
           <script type="text/javascript" src="/javascripts/html5shiv.js"></script>
           <script type="text/javascript" src="/javascripts/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="bootstrap-admin-with-small-navbar"  id="Manage" ng-controller="ManageCtrl">
        <nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar bootstrap-admin-navbar-under-small" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/manage/index">后台管理</a>
                        </div>
                        <div class="collapse navbar-collapse main-navbar-collapse">
							<ul class="nav pull-right navbar-nav">
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-hover="dropdown">Dropdown <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li role="presentation" class="dropdown-header">Dropdown
											header</li>
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation" class="dropdown-header">Dropdown
											header</li>
										<li><a href="#">Separated link</a></li>
										<li><a href="#">One more separated link</a></li>
									</ul></li>
							</ul>
						</div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <!-- left, vertical navbar & content -->
            <div class="row">
                <!-- left, vertical navbar -->
                <div class="col-md-2 bootstrap-admin-col-left">
                    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
                        <li class="active">
                            <a href="#"><i class="glyphicon glyphicon-chevron-right"></i> About</a>
                        </li>
                        <li>
                            <a href="#blog/list"><i class="glyphicon glyphicon-chevron-right"></i> 文章管理</a>
                        </li>
                        <li>
                            <a href="#type/list"><i class="glyphicon glyphicon-chevron-right"></i>栏目管理</a><!-- calendar.html -->
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-chevron-right"></i>用户管理</a><!-- stats.html -->
                        </li>
                    </ul>
                </div>
                <!-- content -->
                <div class="col-md-10" id="content" ng-view>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title">License</div>
                                </div>
                                <div class="bootstrap-admin-panel-content">
                                    <p>The MIT License (MIT)</p>
                                    <p>Copyright © 2013 - Meritoo.pl &lt;github [at] meritoo [dot] pl&gt;</p>
                                    <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
                                    <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
                                    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="bs-docs-masthead">
                                <a href="http://getbootstrap.com" target="_blank">
                                    <h1>Bootstrap</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 meritoo-logo">
                            <a href="http://www.meritoo.pl" target="_blank">
                                <img src="images/logo-meritoo.png" alt="Meritoo.pl">
                                <span>Internet software house</span>
                            </a>
                        </div>
                    </div>

                    <div class="row row-urls">
                        <div class="col-md-6">
                            <a href="http://getbootstrap.com" target="_blank">Bootstrap 3.x</a>
                        </div>
                        <div class="col-md-6">
                            <a href="http://www.meritoo.pl" target="_blank">Meritoo.pl</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="navbar navbar-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <footer role="contentinfo">
                            <p class="left">Bootstrap 3.x Admin Theme</p>
                            <p class="right">&copy; 2013 <a href="http://www.meritoo.pl" target="_blank">Meritoo.pl</a></p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
        	var Manage = angular.module("Manage", ['ngRoute']).config(['$routeProvider', function($routeProvider) {
				$routeProvider.when('/blog/list',{
					templateUrl:'/manage/blog/list',
					controller:'BlogCtrl'
				}).when('/blog/edit/:blogId',{
                    templateUrl:'/manage/blog/edit',
                    controller:'BlogCtrl'
                }).when('/type/list',{
                    templateUrl:'/manage/type/list',
                    controller:'TypeCtrl'
                });
			}])
			.controller("ManageCtrl",ManageCtrl)
			.controller("BlogCtrl", BlogCtrl)
            .controller("TypeCtrl", BlogCtrl)
			.filter('author',function(){
					return function(obj){
						if(obj.authorId != null){
							return obj.authorId;
						}else{
							return obj.authorInfo;
						}
					}
			})
			.filter('substring', function(){
				return function(obj){
					return obj.substr(0, 15);
				}
			});

        	angular.bootstrap(document.getElementById("Manage"), ['Manage']);
        
			function ManageCtrl($scope, $http){

			}	
			
			
			function TypeCtrl($scope, $http, $routeParams, $resource){

            }

			
			var $$scope = "";
			var $$http = "";
			function BlogCtrl($scope, $http,$routeParams){
				$$scope = $scope;
				$$http = $http;
                $scope.routeParams = $routeParams;
				$scope.items = [];

                $scope.initEditPage = function(){
                    $http.post('/manage/blog/edit', {
                        blogId: $scope.routeParams.blogId
                    }).success(function(data) {
                        $scope.data = data[0];
                    });
                }

                $scope.delete = function(blogId){
                    alert(blogId);
                    $http.post('/manage/blog/delete',{
                        blogId:blogId
                    }).success(function(data){
                        if(data.status == 'success'){
                            window.location.href = '#blog/list';
                        }
                    })
                }

                $scope.publish = function(){
                    detailEditor.sync();
                    $scope.data.content = $("[name='content']").val();
                    $http.post('/manage/blog/update',$scope.data).success(function(data){
                        if(data.status == 'success'){
                            window.location.href = '#blog/list';
                        }
                    });
                }


				$scope.QueryList = function(){
			 		$http.post('/list', {
			 			QueryDate: $scope.QueryDate
			 		}).success(function(data) {
			 			var items = data.results;
			 			var pageCount = data.pageCount;
			 			$scope.items = $scope.items.concat(items);
			 			var currentPage = data.currentPage || 1;
			 			var totalPages = data.pageCount;
			 			initPageInfo(currentPage, totalPages);
			 		});
				};
			}

             function initPageInfo(currentPage, pageCount){
                    var options = {
                        currentPage:currentPage,
                        totalPages:pageCount,
                        numberOfPages:20,
                        pageUrl:function(type, page, current){
                            return "javascript:load('"+page+"')";
                        }
                    }
                    $('#page').bootstrapPaginator(options);
            };

            function load(pageNum){
                $$http.post('/list', {
                    QueryDate: $$scope.QueryDate,
                    pageNum:pageNum
                }).success(function(data) {
                    var items = data.results;
                    $$scope.items = items;
                });
            }

			
        </script>
	</body>
</html>
